.groups__container {
  display: flex;
  flex-wrap: wrap;
}

.groups__group {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  min-width: 100px;
  margin: 20px;
  transition: 150ms;
}

.groups__group h2 {
  color: inherit;
  padding: 10px;
  cursor: pointer;
}

.groups__header {
  display: flex;
  margin: 20px;
}

.groups__header button {
  border: 1px solid black;
  padding: 10px 20px;
  transition: 150ms;
  border-radius: 5px;
}

.groups__header button:hover {
  background-color: black;
  color: white;
}

.ed-btns {
  border: 1px solid black;
  border-radius: 5px;
  margin: 7px;
  padding: 3px 10px;
  transition: 150ms;
}

.ed-btns:hover {
  background-color: black;
  color: white;
}

.disabled-btn {
  color: rgb(183, 183, 183);
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(183, 183, 183);
  cursor:unset;
}

.disabled-btn:hover {
  background-color: rgb(242, 242, 242);
  color: rgb(183, 183, 183);
}