@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Inter", sans-serif;
}
.user-detail-block {
  width: 60%;
  height: 1020px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-left: 23%;
}
.detail-info-paper {
  width: 90%;
  height: 70%;
  margin: 5%;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.5);
  background-color: #f5f5f5;
  display: flex;
}
.detail-info-paper-left-side {
  width: 30%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100%;
  background-color: #ffa86a;
}
.left-side-text {
  font-size: 2.5vw;
  color: #f5f5f5;
  text-align: center;
}
.left-side-text-details {
  margin-left: 3%;
  font-size: 1.6vw;
  color: #f5f5f5;
}
.detail-info-paper-right-side {
  width: 70%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.right-side-profile {
  width: 200px;
  height: 200px;
  margin-top: 5%;
  background-color: #ffa86a;
  border-radius: 50%;
}
.right-side-text {
  font-size: 2vw;
  padding: 5%;
  text-align: center;
  color: #7e7e7e;
}
.card {
  width: 10vw;
  height: 15vw;
  border-radius: 20px;
  background-color: #ffa86a;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 15px;
}
.card-inside {
  width: 80%;
  height: 7vw;
  margin-top: 10px;
  background-color: #f5f5f5;
  border-radius: 20px;
}

.card-header {
  text-align: center;
  font-size: 1.5vw;
}
.right-side-cards {
  display: flex;
  flex-direction: row;
}
