@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Inter", sans-serif;
}
.user-detail-block {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-left: 23%;
}
.detail-info-paper {
  width: 90%;
  height: 100%;
  margin: 5%;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.5);
  background-color: #f5f5f5;
  display: flex;
}
.detail-info-paper-left-side {
  width: 30%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100%;
  background-color: #ffa86a;
}
.left-side-text {
  font-size: 2.5vw;
  color: #f5f5f5;
  text-align: start;
  margin-left: 3%;
}
.left-side-text-details {
  margin-left: 3%;
  font-size: 1.6vw;
  color: #f5f5f5;
  text-align: start;
}
.detail-info-paper-right-side {
  width: 70%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.right-side-profile {
  width: 70%;
  height: 30%;
  margin: 5% auto;
  background-color: #f5f5f5;
  border-radius: 50%;
}
.right-side-text {
  font-size: 2vw;
  padding: 5%;
  text-align: center;
  color: #7e7e7e;
}
.first-block {
  background-color: #ffa86a;
  color: white;
  width: 45%;
  height: 20%;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 5%;
}
.first-next-block {
  background-color: white;
  border: 3px solid #ffa86a;
  color: #7e7e7e;
  width: 45%;
  height: 20%;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 5%;
}
.second-block {
  background-color: white;
  border: 3px solid #ffa86a;
  color: #7e7e7e;
  width: 30%;
  height: 30%;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 5%;
}
.third-block {
  background-color: #ffa86a;
  color: white;
  width: 60%;
  height: 30%;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 5%;
}
.right-side-cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}
.container {
  margin: 5% auto;
  width: 80%; /* Full width */
  border-radius: 15px;
  height: 1.5vw;
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
  border-radius: 15px;
  height: 1.5vw;
}

.html {
  width: 90%;
  background-color: white;
}
