@tailwind base;
@tailwind components;
@tailwind utilities;


.main-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-container-right {
  display: flex;
  width: 100%;
  justify-content: center;
}